<div class="jumbotron" id="banner">
  <div class="container">
    <h1 class="text-center" id="title-main">Eventbrite</h1>
    <p class="text-center" id="under-title">jfoidsfjs ezpofjdsoif jusiofjsqi fjoisud gfjisvfnosqivnsv jisofjzf</p>
  </div>
</div>
