// Place all the styles related to the Event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**SHOW**/

.to-back{
  position: absolute;
  height: 65vh;
  width: 100%;
  background: linear-gradient(0.25turn, #325D88, #ebf8e1, #8E8C84);
  z-index: 0;
  margin-top: 0;
  padding-top: 0;
}

.event-page{
  position: relative;
  border-color: black;
  border-width: medium;
  z-index: 1;
}

#eventpage{
  border-radius: 10px;
}

#photo-event{
    border-radius: 0;
    background-image: url("event.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    color: #F8F5F0;
    border-top-left-radius: 10px;
}

#right-event{
  background-color:#F3F3F3;
  border-top-right-radius: 10px;
}

#bottom{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
