      <footer>
        <div class="container">
          <div class="row py-4">
            <div class="col my-col">
              <h1 class="mb-4">Eventbrite</h1>
              <p>Envie de sortie ? <br>Retrouvez touts les évènements dansq Lyon et son agglomération sur Eventbrite Lyon.</p>
            </div>

            <div class="col my-col">
              <h3 class="mb-4 mt-3">Creer un évènement</h3>
              <p>Un évènement a partager ?<br>N'hésitez pas a remplir le
                <a href="<%= new_event_path %>">formlaire de création</a></p>
            </div>

            <div class="col my-col">
              <h3 class="mb-4 mt-3">About</h3>
              <a href="#">Blog</a>
              <br>
              <a href="#">Products</a>
              <br>
              <a href="#">About us</a>
              <br>
              <a href="#">Contact us</a>
            </div>

            <div class="col">
              <h3>Contact us</h3>
              <p>Write us an email and we will respond as soon as possible</p>
              <form class="form-group" action="index.html" method="post">
                <input class="form-control" type="email" placeholder="Email address">
                <textarea class="form-control my-4" name="name" rows="4" cols="30" placeholder="Your message"></textarea>
                <button type="button" class="btn btn-success btn-lg btn-block">Envoyer</button>
                <br>
                <p><small>We’ll never share your details. See our Privacy Policy</small></p>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="text-center">
              <p>©2019Lyon. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
